/* GLOBAL */

p {
  font-family: 'Montserrat';
}

/* GENERAL */

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.topNavBar {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middleNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logoArea {
  display: flex;
  justify-content: space-around;
}

.copyArea {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  margin-bottom: 3em;
}

.storeSections{
  margin-left: 1em;
  margin-right: 1em;
}

/* TEXT */

.shippingNote {
  width: 20%;
}

.copy {
  width: 60%;
}

/* IMAGES */

.languageIndicator {
  height: 20px;
  margin-top: 2vh;
}

.littleUggLogo {
  height: 5vh;
  margin-top: 1vh;
}

.searchIcon, .cartIcon {
  height: 2vh;
  margin-top: 2vh;
}

.logoPics {
  display: flex;
  flex-direction: column;
}

.starWarsLogo {
  height: 5vh;
  width: 45vh;
  margin-top: 8em;
  margin-bottom: 2em;
  margin-left: 1.5em;
}

.bigUggLogo {
  height: 12vh;
  width: 30vh;
  border-top: 1px black solid;
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 2em;
}
