.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.topNavBar {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shippingNote {
  width: 20%;
}

.languageIndicator {
  height: 20px;
  margin-top: 2vh;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middleNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.storeSections{
  margin-left: 1em;
  margin-right: 1em;
}

.littleUggLogo {
  height: 5vh;
  margin-top: 1vh;
}

.searchIcon, .cartIcon {
  height: 2vh;
  margin-top: 2vh;
}
